html {
  min-height: 100%;
}

body {
  background-image: url("/images/space-carina.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.dateTime {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 60px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

greeting {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
